html, body {
    height: 100vh;
    margin: 0;
}

button {
    background-color: #4aaa66;
    color: white;
}

.topbar {
    height: 12%;
    color: white;
    background-color: #4aaa66;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.topbar h2 {
    margin: 10px;
}

.centerAddBtn {
    position: absolute;
    bottom: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#addBtn {
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 100%;
    color: #4aaa66;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#addBtn span {
    font-size: 5em;
}

.recipeCard {
    border: 2px solid #bababa;
    border-radius: 20px;
    height: ;
}