html, body {
    height: 100vh;
    margin: 0;
}

a {
    color: #4aaa66;
}

button {
    background-color: #4aaa66;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

label {
    width: 4em;
    display: inline-block;
}

button:hover {
    cursor: pointer;
}

.topbar {
    width: 100%;
    height: 12%;
    min-height: 66px;
    color: white;
    background-color: #4aaa66;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.topbar h2 {
    width: 33%;
    display: flex;
    justify-content: center;
    margin: 10px;
    white-space: nowrap;
}

.topbar .right {
    width: 33%;
    display: flex;
    justify-content: right;
    padding-right: 0.5em;
}

.topbar #logoutBtn {
    padding: 0;
    margin: 10px;
}

.topbar .backBtn {
    margin-left: 10%;
}

.topbar .left {
    width: 33%;
}

.centerBtns {
    position: fixed;
    bottom: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#addBtn, #searchBtn, #randBtn {
    padding: 0;
    border-radius: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

#addBtn {
  margin-right: 10px;
}

#randBtn {
  margin-left: 10px;
}

#addBtn span {
    font-size: 4em;
}

#randBtn span {
  font-size: 2em;
  padding: 13px;
}

.body {
    width: 100%; height: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipeCard {
    border: 2px solid #bababa;
    border-radius: 20px;
    width: 90%;
    height: 19%;
    min-height: 120px;
    margin-bottom: 20px;
}

.recipeCard:hover {
    cursor: pointer;
}

.recipeDesc {
    height: 60%;
    display: flex;
    margin-top: 0.7em; margin-left: 0.7em;
    margin-bottom: 0.5em;
}

.recipeDesc img {
    height: 100%;
    margin-right: 2em;
    border-radius: 20px;
}

.descText {
    color: #444444;
    line-height: 1.5;
}

.recipeCard h4 {
    width: 94%;
    position: relative;
    bottom: 0.5em;
    left: 1em;
    color: #444444;

}

#detailBody img {
    width: 70%;
    max-width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

#detailBody .descText {
    margin-top: 20px;
    width: 80%;
    max-width: 450px;
    line-height: 2em;
}

.detailBtns {
    margin-top: 40px;
}

.detailBtns button {
    font-size: 1.2em;
    width: 5em;
    margin-left: 1em; margin-right: 1em;
    transition: transform .2s ease-in-out;
}

.detailBtns button:hover {
    transform: scale(1.1);
}

.detailBtns #deleteBtn:hover {
    background-color: red;
}

form input {
    height: 1.5em;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #cacaca;
    color: #828282;
    background-color: #f6f6f6;
}

form input[type="number"] {
    width: 3em;
}

form select {
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #cacaca;
    color: #828282;
    background-color: #f6f6f6;
}

form textarea {
    width: 94%;
    margin-top: 10px;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #cacaca;
    color: #828282;
    background-color: #f6f6f6;
}

#addForm, #editForm {
    width: 90%;
    margin-top: 30px;
}


#loginForm, #registerForm {
    width: 70%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-bottom: 40px;
}

#loginForm input, #registerForm input {
    height: 2em;
    margin-top: 20px;
}

.formBtns {
    display: flex;
    flex-direction: row-reverse;
    align-self: end;
    margin-top: 20px;
}

.formBtns button {
    margin-left: 10px;
}

.searchBar {
    display: flex;
    justify-content: center;
    width: 100%;
}

#searchForm {
    width: 90%;
    display: flex;
    align-items: center;
}

#search {
    width: 100%;
    font-size: 1.2em;
    margin-top: 20px; margin-bottom: 20px;
    font-weight: bold;
}

#searchBtn {
    width: 3.5em; height: 3em;
    padding: 0.5em;
    margin-left: 10px;
}

.searchSection {
    width: 90%;
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    color: #444444;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

#blank {
    width: 100%;
    height: 25%;
    min-height: 180px;
}

